In [241]:
# import libraries
import pandas as pd
import numpy as np
import easygui as g 
from easygui import *
import sys

In [242]:
# input and preview the data
df = pd.read_csv("C:\\Users\\Chase\\OneDrive\\Documents\\Career Development\\Pandas Practice\\Sources\\PD 2022 Wk 34 Input.csv")
df

           Date  Value Units           Type                       Unnamed: 4
0    16/12/2020     10   min  Apple Fitness   Bakari - 125 - everything rock
1    16/12/2020     10   min  Apple Fitness      Kym - 134 - everything rock
2    17/12/2020     30   min  Apple Fitness    Gregg - 375 - everything rock
3    18/12/2020     20   min  Apple Fitness      Kym - 232 - everything rock
4    19/12/2020     45   min  Apple Fitness       Bakari - 565 - latest hits
..          ...    ...   ...            ...                              ...
102     31/7/22     20   min  Apple Fitness  Sherica - 300 - everything rock
103     31/7/22     10   min  Apple Fitness   Bakari - 176 - everything rock
104      1/8/22     30   min  Apple Fitness        Bakari - 470 - pure dance
105      5/8/22     30   min  Apple Fitness   Tyrell - 495 - everything rock
106     16/8/22     45   min  Apple Fitness  Sherica - 685 - everything rock

[107 rows x 5 columns]

In [243]:
# Merge Km's and min's as Minutes
df['Units'] = np.where(df['Units'].isin(["min", "km"]), "Minutes", "Else")
df

,Date,Value,Units,Type,Unnamed: 4
0,16/12/2020,10,Minutes,Apple Fitness,Bakari - 125 - everything rock
1,16/12/2020,10,Minutes,Apple Fitness,Kym - 134 - everything rock
2,17/12/2020,30,Minutes,Apple Fitness,Gregg - 375 - everything rock
3,18/12/2020,20,Minutes,Apple Fitness,Kym - 232 - everything rock
4,19/12/2020,45,Minutes,Apple Fitness,Bakari - 565 - latest hits
...,...,...,...,...,...
102,31/7/22,20,Minutes,Apple Fitness,Sherica - 300 - everything rock
103,31/7/22,10,Minutes,Apple Fitness,Bakari - 176 - everything rock
104,1/8/22,30,Minutes,Apple Fitness,Bakari - 470 - pure dance
105,5/8/22,30,Minutes,Apple Fitness,Tyrell - 495 - everything rock
106,16/8/22,45,Minutes,Apple Fitness,Sherica - 685 - everything rock

In [244]:
# Change Value to Mins
df = df.rename(columns={"Value": "Mins"})
df

           Date  Mins    Units           Type                       Unnamed: 4
0    16/12/2020    10  Minutes  Apple Fitness   Bakari - 125 - everything rock
1    16/12/2020    10  Minutes  Apple Fitness      Kym - 134 - everything rock
2    17/12/2020    30  Minutes  Apple Fitness    Gregg - 375 - everything rock
3    18/12/2020    20  Minutes  Apple Fitness      Kym - 232 - everything rock
4    19/12/2020    45  Minutes  Apple Fitness       Bakari - 565 - latest hits
..          ...   ...      ...            ...                              ...
102     31/7/22    20  Minutes  Apple Fitness  Sherica - 300 - everything rock
103     31/7/22    10  Minutes  Apple Fitness   Bakari - 176 - everything rock
104      1/8/22    30  Minutes  Apple Fitness        Bakari - 470 - pure dance
105      5/8/22    30  Minutes  Apple Fitness   Tyrell - 495 - everything rock
106     16/8/22    45  Minutes  Apple Fitness  Sherica - 685 - everything rock

[107 rows x 5 columns]

In [245]:
# Split up the unnamed column into: Coach, Calories, Music Type
df[['Coach', 'Calories', 'Music Type']] = df['Unnamed: 4'].str.split('-', n=3, expand=True)
df = df.drop(columns=['Unnamed: 4'])
df

,Date,Mins,Units,Type,Coach,Calories,Music Type
0,16/12/2020,10,Minutes,Apple Fitness,Bakari,125,everything rock
1,16/12/2020,10,Minutes,Apple Fitness,Kym,134,everything rock
2,17/12/2020,30,Minutes,Apple Fitness,Gregg,375,everything rock
3,18/12/2020,20,Minutes,Apple Fitness,Kym,232,everything rock
4,19/12/2020,45,Minutes,Apple Fitness,Bakari,565,latest hits
...,...,...,...,...,...,...,...
102,31/7/22,20,Minutes,Apple Fitness,Sherica,300,everything rock
103,31/7/22,10,Minutes,Apple Fitness,Bakari,176,everything rock
104,1/8/22,30,Minutes,Apple Fitness,Bakari,470,pure dance
105,5/8/22,30,Minutes,Apple Fitness,Tyrell,495,everything rock
106,16/8/22,45,Minutes,Apple Fitness,Sherica,685,everything rock

In [246]:
# Change Music Type to be Title Case (first letter of each word is capitalized)
df['Music Type'] = df['Music Type'].str.title()
df['Calories'] = df['Calories'].astype(int)
df

,Date,Mins,Units,Type,Coach,Calories,Music Type
0,16/12/2020,10,Minutes,Apple Fitness,Bakari,125,Everything Rock
1,16/12/2020,10,Minutes,Apple Fitness,Kym,134,Everything Rock
2,17/12/2020,30,Minutes,Apple Fitness,Gregg,375,Everything Rock
3,18/12/2020,20,Minutes,Apple Fitness,Kym,232,Everything Rock
4,19/12/2020,45,Minutes,Apple Fitness,Bakari,565,Latest Hits
...,...,...,...,...,...,...,...
102,31/7/22,20,Minutes,Apple Fitness,Sherica,300,Everything Rock
103,31/7/22,10,Minutes,Apple Fitness,Bakari,176,Everything Rock
104,1/8/22,30,Minutes,Apple Fitness,Bakari,470,Pure Dance
105,5/8/22,30,Minutes,Apple Fitness,Tyrell,495,Everything Rock
106,16/8/22,45,Minutes,Apple Fitness,Sherica,685,Everything Rock

In [247]:
# Create three parameters: Music Type, Coach, Top N
# Create the initial parameter selector

param_msg = "Select a Parameter"
param_title = "Parameter Selector"
param_choices = ['Music Type', 'Coach', 'Top N', 'Exit']
while True:
    param_select = g.buttonbox(param_msg, param_title, choices=param_choices)
    if param_select == 'Music Type':
        music_msg = "Enter a music type"
        music_title = "Music Type Selector"
        music_choices = ['Everything Rock', 'Latest Hits', 'Pure Dance', 'Hiphop', 'Upbeat Anthems', 'Latin Grooves', 'Throwback Hits', 'Top Country']
        music_btnbox = g.buttonbox(music_msg, music_title, choices=music_choices)
        music_btnbox
        if music_btnbox == music_choices[0]:
            data1 = df.loc[df['Music Type'] == ' Everything Rock', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data1, f'Results for {music_choices[0].upper()}')
        elif music_btnbox == music_choices[1]:
            data2 = df.loc[df['Music Type'] == ' Latest Hits', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data2, f'Results for {music_choices[1].upper()}')
        elif music_btnbox == music_choices[2]:
            data3 = df.loc[df['Music Type'] == ' Pure Dance', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data3, f'Results for {music_choices[2].upper()}')
        elif music_btnbox == music_choices[3]:
            data4 = df.loc[df['Music Type'].isin(' Hiphop', ' Hiphop '), ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data4, f'Results for {music_choices[3].upper()}')
        elif music_btnbox == music_choices[4]:
            data5 = df.loc[df['Music Type'] == ' Upbeat Anthems', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data5, f'Results for {music_choices[4].upper()}')
        elif music_btnbox == music_choices[5]:
            data6 = df.loc[df['Music Type'] == ' Latin Grooves', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data6, f'Results for {music_choices[5].upper()}')
        elif music_btnbox == music_choices[6]:
            data7 = df.loc[df['Music Type'] == ' Throwback Hits', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data7, f'Results for {music_choices[6].upper()}')
        elif music_btnbox == music_choices[7]:
            data8 = df.loc[df['Music Type'] == ' Top Country', ['Date', 'Mins', 'Type', 'Coach', 'Calories']][:26]
            g.ccbox(data8, f'Results for {music_choices[7].upper()}')
    elif param_select == 'Coach':
        coach_msg = "Choose a Coach"
        coach_title = "Coach Selector"
        coach_choices = ['Bakari', 'Kym', 'Gregg', 'Emily', 'Sherica', 'Tyrell']
        coach_btnbox = g.buttonbox(coach_msg, coach_title, choices=coach_choices)
        if coach_btnbox == coach_choices[0]:
            data9 = df.loc[df['Coach'] == 'Bakari ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data9, f'Results for Coach {coach_choices[0].upper()}')
        elif coach_btnbox == coach_choices[1]:
            data10 = df.loc[df['Coach'] == 'Kym ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data10, f'Results for Coach {coach_choices[1].upper()}')
        elif coach_btnbox == coach_choices[2]:
            data11 = df.loc[df['Coach'] == 'Gregg ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data11, f'Results for Coach {coach_choices[2].upper()}')
        elif coach_btnbox == coach_choices[3]:
            data12 = df.loc[df['Coach'] == 'Emily ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data12, f'Results for Coach {coach_choices[3].upper()}')
        elif coach_btnbox == coach_choices[4]:
            data13 = df.loc[df['Coach'] == 'Sherica ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data13, f'Results for Coach {coach_choices[4].upper()}')
        elif coach_btnbox == coach_choices[5]:
            data14 = df.loc[df['Coach'] == 'Tyrell ', ['Date', 'Mins', 'Type', 'Calories', 'Music Type']][:26]
            g.ccbox(data14, f'Results for Coach {coach_choices[4].upper()}')
    elif param_select == 'Top N':
        top_msg = "How Many Top Calorie Burning Exercises would you like to view?"
        top_title = "Top N Exercises Selector"
        top_box = g.enterbox(top_msg, top_title)
        if int(top_box) < 100:
            data15 = df.loc[:, ['Mins', 'Type', 'Coach', 'Calories', 'Music Type']][:int(top_box)]
            data15 = data15.sort_values(by=['Calories'], ascending= False)
            g.ccbox(data15, f'Results for Top {int(top_box)} Workouts by Calories')
    elif param_select == 'Exit':
        output = g.ynbox("Are you sure you want to exit?", "Exit Confirmation")
        if output:
            sys.exit()
        else:
            g.buttonbox(param_msg, param_title, choices=param_choices)

SystemExit:

c:\Users\Chase\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3406: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)